[Unit]
Description=Run Server MET Pipeline every 6 hours
Requires=server-met-pipeline.service

[Timer]
OnCalendar=*-*-* 00,06,12,18:30:00
Persistent=true
RandomizedDelaySec=15m

[Install]
WantedBy=timers.target